
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #e7d2ea;
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    justify-self: flex-start;
}

.logo {
    margin-bottom: 20px;
}

.logo h2 {
    color: #7e5281;
}

nav ul {
    list-style-type: none;
    width: 100%;
    padding-left: 8px; 
}

nav ul li {
    width: 100%;
}

nav ul li a {
    display: block;
    padding: 15px 20px;
    color: #7e5281;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #c8a3c5;
    color: rgb(253, 253, 249);
    border-radius: 10px;
}

nav ul li.active a {
    background-color: #7e5281;
    color: white;
    border-radius: 10px;

}
.sidebar button{
    width: 98%;
    text-align: left;
    border-radius: 10px;
    margin: -1px;
}

.accountcl {
    margin-top: auto;
    padding-bottom: 10px;
    width:100%;
}

.accountcl a {
    color: #7e5281;
    text-decoration: none;
    border-radius: 10px;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px);
    margin-top: 20px;
}

.top-bar {
    margin-left: 250px;
    background-color: #e7d2ea;
    padding: 20px;
    width: calc(100% - 250px);
    position: fixed;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.top-bar input {
    padding: 5px 10px;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.account {
    margin-top: auto;
    padding: 20px;
    background-color: #9e79a7;
    width: 70%;
    text-align: center;
}

.account a {
    color: white;
    text-decoration: none;
}
.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

.form-header {
    display: flex;
    align-items: center;
}

.image-upload {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;
}
.edit-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: calc(100% - 40px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-actions {
    display: flex;
    justify-content: flex-start;
}

.save-button,
.cancel-button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.save-button {
    background-color: #4caf50;
    color: white;
}

.cancel-button {
    background-color: #f44336;
    color: white;
}
